:root {
    font-size: calc(0.5em + 1vw);
    font-size: 1em;
}

* {
  box-sizing: border-box;  
}

body {
    background-color: rgb(206, 203, 203);
}

.cont {
    position: relative;
    top: 100px;
    left: 100px;
    border: 2px solid black;
    width: 200px;
    height: 200px;
}

.test {
    
    top: 50px;
    left: 50px;
    width: 40px;
    height: 30px;
    border: 4px solid black;
}